<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DomainCommander.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="IDS_ITAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IDS_ITAPP.Properties.Settings.IDSpcNamesConnectionString"
            connectionString="Data Source=ids-itserv\trackit80;Initial Catalog=IDSpcNames;integrated security=true;"
            providerName="System.Data.SqlClient" />
        <add name="DomainCommander.Properties.Settings.pcNamesConnectionString"
            connectionString="Data Source=AKA-ITSUPPORT\DOMAINCOMMANDER;Initial Catalog=IDSpcNames;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DomainCommander.Properties.Settings>
            <setting name="pcListPath" serializeAs="String">
                <value>\\mh-fileserver\ids$\kwalker\pcNameList\</value>
            </setting>
            <setting name="OU" serializeAs="String">
                <value />
            </setting>
            <setting name="finalDomainComponent" serializeAs="String">
                <value>com</value>
            </setting>
            <setting name="cshare" serializeAs="String">
                <value>c$</value>
            </setting>
            <setting name="dshare" serializeAs="String">
                <value>d$</value>
            </setting>
            <setting name="eshare" serializeAs="String">
                <value>e$</value>
            </setting>
            <setting name="mailServer" serializeAs="String">
                <value>mail.akaheadstart.org</value>
            </setting>
            <setting name="desktopLocations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\adm-fs\redirect\</string>
                        <string>\\adm-fs\redirect2\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="documentsLocations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\adm-fs\redirect\</string>
                        <string>\\adm-fs\redirect2\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="domain" serializeAs="String">
                <value>headstart</value>
            </setting>
            <setting name="disabledUsersOU" serializeAs="String">
                <value>OU=Disabled Accounts,DC=headstart,DC=admin</value>
            </setting>
            <setting name="terminateEmailList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>helpdesk@akaheadstart.org</string>
                        <string>phigginson@akaheadstart.org</string>
                        <string>itspecialists@akaheadstart.org</string>
                        <string>hr@akaheadstart.org</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ADLocations" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Admin</string>
                        <string>CasaDeOro</string>
                        <string>Darnall</string>
                        <string>Farragut</string>
                        <string>Granada</string>
                        <string>Grand</string>
                        <string>LaMesa</string>
                        <string>Marilla</string>
                        <string>Redwood</string>
                        <string>Rolando</string>
                        <string>SanMartin</string>
                        <string>SanMiguel</string>
                        <string>SpringStreet</string>
                        <string>VistaLaMesa</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ADTitles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Teachers</string>
                        <string>Teachers Assistants</string>
                        <string>IT Specialists</string>
                        <string>Custodians</string>
                        <string>Executive Assistants</string>
                        <string>Facilities Technicians</string>
                        <string>FCC Supervisors</string>
                        <string>FSAs</string>
                        <string>Home Visitors</string>
                        <string>Office Assistants</string>
                        <string>Procurement Specialists</string>
                        <string>Program Specialists</string>
                        <string>Temporary Employees</string>
                        <string>Directors</string>
                        <string>CenterDirectors</string>
                        <string>Executive Directors</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IntranetSite" serializeAs="String">
                <value>http://insite.accuvant.com</value>
            </setting>
            <setting name="WebSite" serializeAs="String">
                <value>http://www.accuvant.com</value>
            </setting>
        </DomainCommander.Properties.Settings>
        <IDS_ITAPP.Properties.Settings>
            <setting name="pcListPath" serializeAs="String">
                <value>\\mh-fileserver\ids$\kwalker\pcNameList\</value>
            </setting>
            <setting name="OU" serializeAs="String">
                <value>Users-Department</value>
            </setting>
            <setting name="finalDomainComponent" serializeAs="String">
                <value>local</value>
            </setting>
            <setting name="cshare" serializeAs="String">
                <value>c$</value>
            </setting>
            <setting name="dshare" serializeAs="String">
                <value>d$</value>
            </setting>
            <setting name="eshare" serializeAs="String">
                <value>e$</value>
            </setting>
        </IDS_ITAPP.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
